body {background: linear-gradient(135deg, #FF8F8F, #F3ECEC);}
  
  h1 {background: transparent; color: #2d2d2d; font-family: 'Dancing Script', cursive; font-size: 50px;
    text-align: center; margin: 0; padding: 20px;}
  
  .navbar {background-color: #2d2d2d; padding: 15px;}
  
  .navbar a {color: #fcecc9; text-decoration: none; padding: 10px 15px; display: inline-block;}
  
  .dropdown {position: relative; display: inline-block;}
  
  .dropdown-content {display: none; position: absolute; background-color: #fcecc9; min-width: 160px; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); z-index: 1000;}
  
  .dropdown-content a {color: #2d2d2d; padding: 10px; text-decoration: none; display: block;}
  
  .dropdown-content a:hover {background-color: #fcecc9; z-index: 1000;}

  .footer {color: #fcecc9; background-color: #2d2d2d; padding: 15px; text-align: center; }

  .footer a {color: inherit; text-decoration: none; text-align: center; padding: 15px; display: inline-block; position: relative;}

  .footer a:hover {color: #FF8F8F;}

  .center {background-color: #2d2d2d; padding: 15px;}

  .profile-container {display: flex; flex-direction: column; align-items: center; text-align: center;
    max-width: 800px; margin: 0 auto; padding: 20px;}

  .profile-pic {width: 150px; height: auto; border-radius: 50%; margin-bottom: 15px;}

  .bio-text {font-size: 18px; color: #2D2D2D; line-height: 1.6;}

  .profile-pic {width: 90%; max-width: 600px; height: auto; margin-left: 40px;}

  .contact-container {background-color: #fcecc9; color: #2d2d2d; font-family: 'Times New Roman', Times, serif; width: 80%;
    max-width: 800px; margin: 20px auto; padding: 20px; border-radius: 20px; position: relative; overflow: hidden;}

  .contact-half {font-size: 50px; line-height: 40px; padding-bottom: 20px; text-align: center;}

  .contact {font-size: 25px; line-height: 50px; text-align: center;}

  .contain {display: flex; align-items: flex-start;justify-content: space-between;}

  .contain a {font-family: 'Times New Roman', Times, serif; font-size: 25px; color: #2d2d2d; text-decoration: none;}

  .link {text-align: center; padding-top: 20px; padding-bottom: 20px;}

  .link a {font-family: 'Times New Roman', Times, serif; font-size: 25px; color: #2d2d2d; text-decoration: none;}

  .project {display: flex; flex-direction: column; align-items: center; background-color: #fcecc9; padding: 20px;
    margin: 20px auto; border-radius: 10px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); max-width: 800px;}

  .image {width: 100%; max-width: 700px; border-radius: 8px;}

  .caption {font-size: 18px; color: #2D2D2D; padding: 15px; text-align: center; max-width: 700px;}

  .download-section {display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap; margin-top: 20px;}

  .download-link {display: block; width: 220px; background-color: #2D2D2D; color: #FF8F8F; text-decoration: none; padding: 12px;
    margin: 5px; border-radius: 5px; font-weight: bold; transition: 0.3s; padding-bottom: 20px; text-align: center;}

  .download-link:hover {background-color: white; color: black;}

  @media (max-width: 900px) {
      .project {max-width: 90%; padding: 15px;    }

      .image, .caption {max-width: 100%;}

      .download-section {flex-direction: column;}

      .download-link {width: 80%; text-align: center;}
  }